// Code Menu
//
// Show extra info above code block, add class to div above code block

.code-menu {
  padding: 0rem 0.5rem;
  color: $gray-4;
  background-color: $gray-2;
  text-align: right;
  font-size: 0.85rem;
}
